<div class="container-fluid">
  <div class="row">

    <div class="col">
      <dl>
        <p class="h3">{{ animeDetail.name }}</p>
        <dt class="bold">Description</dt>
        <dd>{{ animeDetail.description }}</dd>
        <hr />
        <dt>Rating ⭐</dt>
        <dd>{{ animeDetail.Rating }}</dd>
        <hr />
        <dt>Studio</dt>
        <dd>{{ animeDetail.studio }}</dd>
        <hr />
        <dt class="bold">Number of episodes</dt>
        <dd class="caption">{{ animeDetail.episode }}</dd>
        <hr />

      </dl>
    </div>
    <div class="col-3">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ animeDetail.img }}"
          alt="{{ animeDetail.name }}"
        />
      </div>
    </div>
  </div>
 </div>
